
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'discussion_forum/css/forum.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container my-3">
    
    <div class="row">
        <div class="col">        

            <div class="border border-secondary rounded px-2 py-1 m-2 bg-light">
                Currently Logged in as: <a href="{% url 'user_activity' user.username %}"> {{ user.username }} </a>
                <a href="{% url 'user_activity' user.username %}" class="mx-3">My Activity</a>
                <a href="{% url 'home' %}" class="mx-3">Return To Site</a>
                <a href="{% url 'discussion_forum' %}" class="mx-3">Return To Topics List</a>
                <a href="{% url 'account_logout' %}" class="mx-3">Logout</a>    
            </div>     
        
        </div>
    </div>    
    
    <div class="table-responsive">
            <h1 class="h4 bg-primary mb-0 px-3 py-2 rounded-top text-light">
                <strong>Fitness<i class="fas fa-medal mx-1"></i>App Forum </strong>: Create A New Topic
            </h1>
        </div>
            
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col"> Topic Title: </th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>
                        <form action="{% url 'create_topic' %}" method="POST">
                            {% csrf_token %}
                            <p>                                
                                <input type="text" name="title" maxlength="300" required id="id_title">
                            </p>
                            <input type="submit" class="btn btn-success" value="Submit">
                            <a class="btn btn-dark text-light" href="{% url 'discussion_forum' %}">Cancel</a>
                        </form>
                        
                    </td>
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}