{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'discussion_forum/css/forum.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="row pl-3">
    <div class="col">
        <h1 class="mt-1"> FitnessApp Forum </h1> 

            <form method="POST" action="{% url 'add_comment' topic.id %}">
                {% csrf_token %}
                <button class="btn btn-secondary m-1 p-1">Add a Comment</button>
            </form>

        <div class="container border border-secondary rounded px-2 py-1 m-1 mb-3 bg-light">
            Currently Logged in as: <a href="{% url 'user_activity' user.username %}"> {{ user.username }} </a>
            <a href="{% url 'user_activity' user.username %}" class="mx-3">My Profile</a>
            <a href="{% url 'home' %}" class="mx-3">Return To Site</a>
            <a href="{% url 'discussion_forum' %}" class="mx-3">Return To Topics List</a>
            <a href="{% url 'account_logout' %}" class="mx-3">Logout</a>    
        </div>
        <p>*Please note: A Comment can only be Edited or Deleted by its creator</p>

        <div class="container border border-secondary rounded px-2 py-1 m-1 bg-light">
            <div>       
                <h3><a href="{% url 'topic_detail' topic.id %}">{{ topic.title }}</a></h3> 
                Started By: 
                    <a href="{% url 'user_activity' topic.author %}">
                        {{ topic.author }} 
                    </a>
                on {{ topic.date_created }} 
                
                <div>
                {% if topic.author == user %}
                    <a href="/discussion_forum/delete_topic/{{ topic.id }}">
                        <button class="btn btn-danger m-1 p-1">Delete Topic</button>
                    </a>
                    <a href="/discussion_forum/edit_topic/{{ topic.id }}">
                        <button class="btn btn-danger m-1 p-1">Edit Topic</button>
                    </a>
                {% endif %}

                <a href="{% url 'add_comment' topic.id %}">
                    <button class="btn btn-secondary m-1 p-1">Add a comment</button>
                </a>
                </div>
            </div>
        </div>

        <div class="container border border-secondary rounded px-2 py-1 m-1 bg-primary text-white">
            This Topic currently has  Comments & Replies
        </div>

        {% for comment in comments %}
            {% if comment.topic == topic %}
                <div class="container border border-secondary rounded px-2 py-1 m-1 bg-secondary text-light">
                    {{ comment.content }}
                    (
                    by: <a href="{% url 'user_activity' comment.author %}">{{ comment.author }}</a>:
                    {{ comment.comment_date }}
                    )
                        {% if comment.author == user %}
                            <a href="/discussion_forum/delete_comment/{{ comment.id }}">
                                <button class="btn btn-danger m-1 p-1">Delete Comment</button>
                            </a>
                            <a href="/discussion_forum/edit_comment/{{ comment.id }}">
                                <button class="btn btn-danger m-1 p-1">Edit Comment</button>
                            </a>
                        {% endif %}
                    <a href="/discussion_forum/reply_to_comment/{{ comment.id }}">
                        <button class="btn btn-secondary m-1 p-1">Reply</button>
                    </a>
                </div>
                
                    {% for reply in replies %}
                        {% if reply.comment == comment %}
                            <div class="container border border-secondary rounded px-2 py-1 m-1 bg-light">
                                >>>{{ reply.content }}
                                [
                                from: <a href="{% url 'user_activity' reply.author %}">{{ reply.author }}</a>:
                                {{ reply.reply_date }}
                                ]
                                {% if reply.author == user %}
                                    <a href="/discussion_forum/delete_reply/{{ reply.id }}">
                                        <button class="btn btn-danger m-1 p-1">Delete Reply</button>
                                    </a>
                                    <a href="/discussion_forum/edit_reply/{{ reply.id }}">
                                        <button class="btn btn-danger m-1 p-1">Edit Reply</button>
                                    </a>
                                {% endif %}
                            </div>        
                        {% endif %}
                    {% endfor %}
                
                

            {% endif %}


            
        {% endfor %}




{% endblock %}