{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'discussion_forum/css/forum.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="row pl-3">
    <div class="col">
        <h1 class="mt-1"> FitnessApp Forum </h1> 

            <form method="POST" action="{% url 'add_comment' topic.id %}">
                {% csrf_token %}
                <button class="btn btn-secondary m-1 p-1">Add a Comment</button>
            </form>

        <div class="container border border-secondary rounded px-2 py-1 m-1 mb-3 bg-light">
            Currently Logged in as: <a href="{% url 'user_activity' user.username %}"> {{ user.username }} </a>
            <a href="{% url 'user_activity' user.username %}" class="mx-3">My Profile</a>
            <a href="{% url 'home' %}" class="mx-3">Return To Site</a>
            <a href="{% url 'discussion_forum' %}" class="mx-3">Return To Topics List</a>
            <a href="{% url 'account_logout' %}" class="mx-3">Logout</a>    
        </div>
        <p>*Please note: A Comment can only be Edited or Deleted by its creator</p>

        

        <div class="container-fluid my-3">
        
            <div class="row">
                <div class="table-responsive">
                    <h2 class="h4 bg-primary mb-0 p-4 rounded-top text-light">Discussion Topic: {{ topic.title }}
                            <p>Started By: 
                                <a href="{% url 'user_activity' topic.author %}" class="text-light">
                                    {{ topic.author }} 
                                </a>
                                on {{ topic.date_created }} 
                            </p>
                        <div>
                        {% if topic.author == user %}
                            <a href="/discussion_forum/delete_topic/{{ topic.id }}">
                                <button class="btn btn-danger m-1 p-1">Delete Topic</button>
                            </a>
                            <a href="/discussion_forum/edit_topic/{{ topic.id }}">
                                <button class="btn btn-danger m-1 p-1">Edit Topic</button>
                            </a>
                        {% endif %}

                        <a href="{% url 'add_comment' topic.id %}">
                            <button class="btn btn-secondary m-1 p-1">Add a comment</button>
                        </a>
                    </h2>
                </div>
            
                <table class="table table-striped table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="">Comment #</th>
                            <th scope="col" class="">Comment Detail</th>
                            <th scope="col">Date Posted</th>
                            <th scope="col">Author</th>
                            <th scope="col" class="">Action/s</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                            {% if comment.topic == topic %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ comment.content }}</td>
                                    <td>{{ comment.comment_date }}</td>
                                    <td>{{ comment.author }}</td>
                                    <td>
                                        <a href="/discussion_forum/delete_comment/{{ comment.id }}">
                                            <button class="btn btn-danger m-1 p-1">Delete Comment</button>
                                        </a>
                                        <a href="/discussion_forum/edit_comment/{{ comment.id }}">
                                            <button class="btn btn-danger m-1 p-1">Edit Comment</button>
                                        </a>
                                        <a href="/discussion_forum/reply_to_comment/{{ comment.id }}">
                                            <button class="btn btn-secondary m-1 p-1">Reply</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


{% endblock %}