<h1> FitnessApp Forum </h1>
{% for topic in topics %}
<div> 
    <hr>
    {{ topic.title }} {{ topic.date_created }} 
    <a href="/discussion_forum/delete_topic/{{ topic.id }}">
        <button>Delete Topic</button>
    </a>
    <a href="/discussion_forum/edit_topic/{{ topic.id }}">
        <button>Edit Topic</button>
    </a>
    <a href="{% url 'add_comment' topic.id %}">
        <button>Add a Comment</button>
    </a>
    <hr>
    <br>
    {% for comment in comments %}
        {% if comment.topic == topic %}
            <div>
                {{ comment.content }}
                (
                {{ comment.author }}:
                {{ comment.comment_date }}
                )
                <a href="/discussion_forum/delete_comment/{{ comment.id }}">
                    <button>Delete Comment</button>
                </a>
                <a href="/discussion_forum/edit_comment/{{ comment.id }}">
                    <button>Edit Comment</button>
                </a>
                <a href="/discussion_forum/reply_to_comment/{{ comment.id }}">
                    <button>Reply</button>
                </a>
            </div>
                <br>
                {% for reply in replies %}
                    {% if reply.comment == comment %}
                        >>>{{ reply.content }}
                        [
                        {{ reply.author }}:
                        {{ reply.reply_date }}
                        ]
                        <a href="/discussion_forum/delete_reply/{{ reply.id }}">
                            <button>Delete Reply</button>
                        </a>
                        <a href="/discussion_forum/edit_reply/{{ reply.id }}">
                            <button>Edit Reply</button>
                        </a>
                        <br>
                    {% endif %}
                {% endfor %}
                <br>
        {% endif %}
    {% endfor %}
    <br>

</div>
{% endfor %}

<form method="POST" action="{% url 'create_topic' %}">
    {% csrf_token %}
    <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">New Topic</button>
</form>