{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'discussion_forum/css/forum.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="row ">
    <div class="col">        

        <div class="container border border-secondary rounded px-2 py-1 m-1 bg-light">
            Currently Logged in as: <a href="{% url 'user_activity' user.username %}"> {{ user.username }} </a>
            <a href="{% url 'user_activity' user.username %}" class="mx-3">My Activity</a>
            <a href="{% url 'home' %}" class="mx-3">Return To Site</a>
            <a href="{% url 'account_logout' %}" class="mx-3">Logout</a>    
        </div>     
    
    </div>
</div>

<div class="container-fluid mx-1">

    <div class="row">
        <div class="table-responsive">
            <h2 class="h4 bg-primary mb-0 px-3 pt-3 pb-3 rounded-top text-light"> 
                <strong>Fitness<i class="fas fa-medal mx-1"></i>App Forum </strong>: {{ topic_count }} active Topics with {{ total_comments }} Comments & {{ total_replies }} Replies              
            </h2>
        </div>

        <div class="table-responsive">
            <h2 class="h4 bg-secondary mb-0 px-3 pt-2 pb-1 text-light">               
                <p class="mb-0">
                    <a href="{% url 'create_topic' %}">
                        <button class="btn btn-dark m-1 p-1">Start a new Topic</button>
                    </a>               
                </p>
            </h2>
        </div>

        <table class="table table-striped table-bordered">

            <thead class="thead-light text-center">
                <tr>
                    <th scope="col" class="forum-col-1">Topic #</th>
                    <th scope="col" class="">Title</th>
                    <th scope="col" class="forum-col-2">Created By</th>
                    <th scope="col" class="forum-col-2">Date Created</th>
                    <th scope="col" class="forum-col-3">Action/s</th>
                </tr>
            </thead>

            <tbody>
                {% for topic in page_obj %}
                    <tr>
                        <td class="forum-col-1 text-center">{{ forloop.counter }}</td>
                        <td class="pl-4">
                            <a href="{% url 'topic_detail' topic.id %}">
                                {{ topic.title }}
                            </a>
                        </td>
                        <td class="forum-col-2">{{ topic.author }}</td>
                        <td class="forum-col-2">{{ topic.date_created | date:"j/n/y" }}, {{ topic.date_created | time:"H:i" }}</td>
                        <td class="forum-col-3">
                            {% if topic.author == user %}                             

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-topic-modal-{{ topic.id }}">
                                    Delete Topic
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="delete-topic-modal-{{ topic.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Warning - If you continue this Topic will be permanently deleted, including all replies and comments
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a href="{% url 'delete_topic' topic.id %}">
                                                    <button class="btn btn-danger p-1">Delete Topic</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a href="{% url 'edit_topic' topic.id %}">
                                    <button class="btn btn-warning m-1 p-1">Edit Topic</button>
                                </a>
                            {% endif %}
                                <a href="{% url 'topic_detail' topic.id %}">
                                    <button class="btn btn-secondary m-1 p-1">View Comments</button>
                                </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"> First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<p class="mx-1">*Please note: A topic can only be Edited or Deleted by its creator</p>

{% endblock %}
