<h1> FitnessApp Forum </h1>

{% if request.user.is_authenticated %}
<hr>
<div>
    Currently Logged in as: {{ user.username }} 
    <a href="{% url 'profile' %}">My Profile</a>
    <a href="{% url 'home' %}">Return To Site</a>
    <a href="{% url 'account_logout' %}">Logout</a>   
    <hr>
    <br> 
</div>

<form method="POST" action="{% url 'create_topic' %}">
    {% csrf_token %}
    <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px; background:black; color:white">Create New Topic</button>
</form>

    {% for topic in topics %}
    <div>         
        <hr>
        {{ topic.title }} {{ topic.author }} 
        <a href="/discussion_forum/delete_topic/{{ topic.id }}">
            <button style="background:red; color:white">Delete Topic</button>
        </a>
        <a href="/discussion_forum/edit_topic/{{ topic.id }}">
            <button style="background:red; color:white">Edit Topic</button>
        </a>
        <a href="{% url 'add_comment' topic.id %}">
            <button style="background:black; color:white">Add a Comment</button>
        </a>
        {{ topic.date_created }} 
        <hr>
        <br>
        {% for comment in comments %}
            {% if comment.topic == topic %}
                <div>
                    {{ comment.content }}
                    (
                    {{ comment.author }}:
                    {{ comment.comment_date }}
                    )
                    <a href="/discussion_forum/delete_comment/{{ comment.id }}">
                        <button style="background:red; color:white">Delete Comment</button>
                    </a>
                    <a href="/discussion_forum/edit_comment/{{ comment.id }}">
                        <button style="background:red; color:white">Edit Comment</button>
                    </a>
                    <a href="/discussion_forum/reply_to_comment/{{ comment.id }}">
                        <button style="background:black; color:white">Reply</button>
                    </a>
                </div>
                    <br>
                    {% for reply in replies %}
                        {% if reply.comment == comment %}
                            >>>{{ reply.content }}
                            [
                            {{ reply.author }}:
                            {{ reply.reply_date }}
                            ]
                            <a href="/discussion_forum/delete_reply/{{ reply.id }}">
                                <button style="background:red; color:white">Delete Reply</button>
                            </a>
                            <a href="/discussion_forum/edit_reply/{{ reply.id }}">
                                <button style="background:red; color:white">Edit Reply</button>
                            </a>
                            <br>
                        {% endif %}
                    {% endfor %}
                    <br>
            {% endif %}
        {% endfor %}
        <br>

    </div>
    {% endfor %}

    

{% else %}

<h2> Please <a href="{% url 'account_login' %}" class="dropdown-item">Login</a> to access Discussion Forum </h2>
<h3> Need an account? Please <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a> & Sign Up </h3>

{% endif %}
