
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:20px;
}

input[type=text], input[type=email], textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
   }

   input[type=submit] {
    max-width: 15%;
   }  
