
form {
    background-color: white;
    display: flex;
    max-width: 80%;
    flex-direction: column;
    padding:20px;
}

input[type=text], input[type=email], textarea {
    max-width: 90%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: flex;
   }

   input[type=submit] {
    max-width: 15%;
    margin-top: 8px;
   }  
