.forum-col-1{
    max-width: 50px !important; 
}
.forum-col-2{
    max-width: 80px !important; 
}
.forum-col-3{
    max-width: 300px !important; 
}
.forum-col-4{
    max-width: 500px !important; 
}
.last-post-col {
    min-width: 192px;
}