{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  

                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col col-xl-8 shadow rounded mb-5 px-3 py-3">
                        
                            
                            <div class="table-responsive">
                                    <h2 class="h4 bg-primary mb-0 px-3 py-2 rounded-top text-light text-center">
                                        <strong>About Us<i class="fas fa-medal mx-1"></i>Our Story</strong>:                         
                                    </h2>                    
                            </div>               
                        
                            <div class="col bg-secondary my-auto rounded-bottom">
                                <div class="text-light px-4">
                                    <h5 class="font-weight-bold pt-5 pb-2">
                                        Who we are
                                    </h5>
                                    <p>
                                        We’re a leading sports nutrition and clothing brand, delivering a range of quality products including protein powder, 
                                        vitamins and minerals, high-protein foods, snack alternatives, and performance clothing.                         
                                        Every day we work to inspire people of all ages and genders to believe in their fitness potential, 
                                        then fuel them to achieve it.
                                    </p>
                                </div>
                                <div class="text-light px-4">
                                    <h5 class="font-weight-bold pt-3 pb-2">
                                        What we do 
                                    </h5>
                                    <p>
                                        Our aim is to fuel the ambitions of people across the world — making the best in sports nutrition available 
                                        to everyone, whatever their goal. We pride ourselves in providing a broad selection of products at 
                                        exceptional value to power this, including a range of dietary needs including vegetarian, vegan, 
                                        dairy-free and gluten-free, so any customer can enjoy the benefits of high-quality nutrition.
                
                                        We produce everything in-house, cutting our third-party costs to deliver great prices, and 
                                        guaranteeing the greatest quality. We’ve invested strongly in state-of-the-art production facilities
                                        and advanced testing measures to make sure we deliver on purity promises, and can be sure that everything 
                                        leaving our warehouse meets the highest standards.
                                    </p>
                                </div>
                                <div class="text-light px-4">
                                    <h5 class="font-weight-bold pt-3 pb-2">
                                        Our Quality 
                                    </h5>
                                    <p class="pb-5">
                                        We are dedicated to providing the best-quality products. Our world-class, in-house production facilities 
                                        allow us to develop, formulate and test — using specialist Near-Infrared scanning, and X-Ray machines 
                                        to make sure every single product meets the highest quality standards, leading to the British Retail 
                                        Consortium certifying Myprotein the AA Grade for Food Safety.
                
                                        As well as our own rigorous testing, we work closely with independent quality partner, ALS, 
                                        who use stringent UKAS assessment measures to test and approve our product. 
                                    </p>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>

            
        
{% endblock %}