{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>


    <div class="container mt-5">
        <div class="row">
            <div class="col bg-light shadow rounded mb-5 px-5 pb-3 pt-4">
            
                
                <div class="table-responsive">
                    <h2 class="h4 bg-primary mb-0 px-3 py-2 rounded-top text-light text-center">
                        <strong>Oh Dear!<i class="fas fa-medal mx-1"></i>We Are Sorry</strong>:                         
                    </h2>                    
                </div>
    
                

                <div class="h5 text-center m-5">
                    404 error: The server could not find what you asked for.
                </div>

                <div class="h5 text-center m-5">
                    Please click <a href="{% url 'home' %}">here</a> to return home.
                </div>

            </div>
        </div>
    </div>

{% endblock %}