<div class="container-fluid px-0">
    <div class="row footer-top">
        <div class="col d-flex justify-content-between">

            <h2 class="logo-font text-white my-0"><strong>Fitness</strong> App</h2>
     
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Subscribe</button>
            </form>

            <div class="m-0 text-center text-white">
                <h2>Connect With Us:</h2> 
                <a href="http://facebook.com" target="_blank" rel="noopener" aria-label="Visit Us On Facebook (Opens in new browser)"><i class="fab fa-facebook-square ms-3 text-light fa-3x"></i></a>
                <a href="http://twitter.com" target="_blank" rel="noopener" aria-label="Visit Us On Twitter (Opens in new browser)"><i class="fab fa-twitter-square ms-3 text-light fa-3x"></i></a>
                <a href="http://instagram.com" target="_blank" rel="noopener" aria-label="Visit Us On Instagram (Opens in new browser)"><i class="fab fa-instagram-square ms-3 text-light fa-3x"></i></a>
                <a href="http://youtube.com" target="_blank" rel="noopener" aria-label="Visit Us On Youtube (Opens in new browser)"><i class="fab fa-youtube-square ms-3 text-light fa-3x"></i></a>
            </div>
        </div>
    </div>

    <div class="row footer-middle">
        <div class="col d-flex justify-content-between">
        Contact Us, Products, Nutrition, Apparrell, Company Info, About Us, Privacy Policy
        </div>
    </div>

    <div class="row footer-bottom">
        <div class="col d-flex justify-content-between">
        Pay Securely with Stripe - Credits Here
        </div>
    </div>

</div>



