
    
    
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-around p-4 border-bottom border-top"
    >
      <!-- Left -->
      <h6 class="mr-5 d-none d-lg-block">
        <span>Get connected with us on Social Networks:</span>
      </h6>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="http://facebook.com" target="_blank" rel="noopener" aria-label="Visit Us On Facebook (Opens in new browser)" class="mr-4 text-reset">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="http://twitter.com" target="_blank" rel="noopener" aria-label="Visit Us On Twitter (Opens in new browser)" class="mr-4 text-reset">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="http://instagram.com" target="_blank" rel="noopener" aria-label="Visit Us On Instagram (Opens in new browser)" class="mr-4 text-reset">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="http://youtube.com" target="_blank" rel="noopener" aria-label="Visit Us On Youtube (Opens in new browser)" class="mr-4 text-reset">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
        <a href="http://github.com" target="_blank" rel="noopener" aria-label="Visit Us On Github (Opens in new browser)" class="mr-4 text-reset">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Newsletter -->
    <section
    class="d-flex justify-content-center justify-content-lg-around p-4 border-bottom"
    >
    <!-- Left -->
    <h6 class="mr-5 d-none d-lg-block">
      <span>Subscribe to our Newsletter for exclusive offers:</span>
    </h6>
    <!-- Left -->

    <!-- Right -->
    <div>
      <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div id="div_id_email1" class="form-group"> 
          <label for="id_email1" class=" requiredField">
            Email<span class="asteriskField">*</span> 
          </label> 
          <div> 
            <input type="email" name="email" maxlength="254" class="emailinput form-control" required="" id="id_email1"> 
          </div> 
        </div>
        <div class="form-group"> 
          <div id="div_id_privacy" class="form-check"> 
            <input type="checkbox" name="privacy" class="checkboxinput form-check-input" required="" id="id_privacy"> 
            <label for="id_privacy" class="form-check-label requiredField">
              GDPR Consent<span class="asteriskField">*</span> 
            </label> 
          </div> 
        </div>
        <button type="submit">Subscribe</button>
    </form>

    </div>
    <!-- Right -->
    </section>
    <!-- Section: Newsletter -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <strong>- Fitness</strong><i class="fas fa-medal mx-1"></i>App -
            </h6>
            <p>
                Our aim is to fuel the ambitions of people across the world — making the best in
                sports nutrition and clothing available to everyone, whatever their goal. 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products:
            </h6>
            <p>
              <a href="{% url 'products' %}?category=apparrell,nutrition" class="dropdown-item text-muted">All Products</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=nutrition" class="dropdown-item text-muted">Nutrition</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=apparrell" class="dropdown-item text-muted">Clothing</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links:
            </h6>
            <p>
              <a href="{% url 'contact' %}" class="dropdown-item text-muted">Enquiries</a>
            </p>
            <p>
              <a href="{% url 'discussion_forum' %}" class="dropdown-item text-muted">Forum</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact:
            </h6>
            <p><i class="fas fa-home me-3"></i> Dublin, D1234, IR</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@fitnessapp.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 00353 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 00353 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright & Readme Located:  
      <a class="fw-bold" href="https://github.com/dkelly255/fitness-app#fitness-app">@ Dan Kelly</a>
    </div>
    <!-- Copyright -->
  