{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col bg-light shadow rounded mb-5 px-5 pb-3 pt-3">
            
            <h1 class="contact text-center">Contact Us:</h1>

            <form action="" method="post" class="contact">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" class="btn btn-primary mt-4">
            </form>
        </div>
    </div>
</div>



{% endblock %}
