{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col bg-light shadow rounded mb-5 px-5 pb-3 pt-4">
        
            
            <div class="table-responsive">
                    <h2 class="h4 bg-primary mb-0 px-3 py-2 rounded-top text-light text-center">
                        <strong>Contact<i class="fas fa-medal mx-1"></i>Us</strong>:                         
                    </h2>                    
                </div>

            <form action="{% url 'fake profile' %}" method="post" class="contact">
                {% csrf_token %}
                    <tr>
                        <th>
                            <label for="id_first_name">First name:</label>
                        </th>
                        <td>
                            <input type="text" name="first_name" value="Administrative" maxlength="100" class="form-control" id="id_first_name">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_last_name">Last name:</label>
                        </th>
                            <td>
                                <input type="text" name="last_name" value="User" maxlength="100" class="form-control" id="id_last_name">
                            </td>
                        </tr>
                    <tr>
                        <th>
                            <label for="id_email">Email:</label>
                        </th>
                        <td>
                            <input type="email" name="email" value="admin@email.com" maxlength="254" class="form-control" required id="id_email">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_subject">Subject:</label>
                        </th>
                        <td>
                            <input type="text" name="subject" maxlength="255" class="form-control" required id="id_subject">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_message">Message:</label>
                        </th>
                        <td>
                            <textarea name="message" cols="40" rows="10" class="form-control" required id="id_message"></textarea>
                        </td>
                    </tr>
                <input type="submit" value="Submit" class="btn btn-primary mt-4">
            </form>
        </div>
    </div>
</div>



{% endblock %}
